body {
    margin: 0;
    background-color: #eee !important;
    min-height: 100vh;
    padding-bottom: 2rem;
}

.card-hover {
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.4);
    box-shadow: 0 1px 6px rgba(0,0,0,0.4);
    transition: all .3s;
}

.card-hover:hover {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    transform: translateY(3px);
}

.album-cover-thumbnail {
    height: 200px;
}

.max-w-100 {
    max-width: 100%;
}

.spinner {
    display: none;
    margin: 20px auto;
    width: 50px;
    height: 50px;
    border: 3px dashed #080808;
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spinner-sm {
    display: none;
    margin: 5px auto;
    width: 20px;
    height: 20px;
    border: 2px dotted #080808;
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}